name: BRUH

on: 
  workflow_dispatch:
    inputs:
      authcode:
        description: 'Enter CRD code'
        required: true
      pincode:
        description: 'Six digit Pin'
        required: true
  
jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Initializing Setup
      run: Set-NetFirewallProfile -Profile Domain,Public,Private -Enabled False & {$P = $env:TEMP + 'chromeremotedesktophost.msi'; Invoke-WebRequest 'https://dl.google.com/edgedl/chrome-remote-desktop/chromeremotedesktophost.msi' -OutFile $P; Start-Process $P -Wait; Remove-Item $P} & {$P = $env:TEMP + 'chrome_installer.exe'; Invoke-WebRequest 'https://dl.google.com/chrome/install/latest/chrome_installer.exe' -OutFile $P; Start-Process -FilePath $P -Args '/install' -Verb RunAs -Wait; Remove-Item $P} & {${{ github.event.inputs.authcode }} -pin=${{ github.event.inputs.pincode }} }
    - name: Keep Alive
      run: Sleep 60
    - name: Keep Alive1
      run: Sleep 60
    - name: Keep Alive2
      run: Sleep 60
